<div class="container">

  <div class="row">
    <div class="col-12">
      <h2 class="title">Seguros - Lista de productos</h2>        
    </div>
  </div>

  <app-messages-box
    *ngIf="error"
    type="danger"
    message="¡Se ha producido un error recuperando los datos!">
  </app-messages-box>

  <ng-container *ngIf="!error">
    
    <app-options-filter 
      *ngIf="!loading"
      [brands]="getBrands()" 
      [types]="getTypes()" 
      [createFilters]="!showFavorites"
      (filter)="executeFilter($event)"></app-options-filter>

    <div 
      *ngIf="!loading"
      class="row m-2">
      <div class="col-12 text-right">
        <button
          type="button"
          class="btn btn-primary"
          (click)="openFavorites()">
          Mostrar favoritos
        </button>
      </div>
    </div>

    <ng-container *ngIf="!loading">

      <app-messages-box 
        *ngIf="!data.length" 
        type="info" 
        message="No se han encontrado resultados">
      </app-messages-box>
      
      <ng-container *ngIf="data.length">
        
        <app-list 
          *ngIf="!loading && data.length" 
          [data]="data" 
          [page]="page" 
          [forPage]="5" 
          (orderData)="orderData($event)"
          (lineAction)="addFavorite($event)">
        </app-list>

        <app-paginator 
          *ngIf="!loading && data.length" 
          [page]="page" 
          [numItems]="data.length" 
          [forPage]="5" 
          (changePage)="changePage($event)">
        </app-paginator>

      </ng-container>

    </ng-container>

  </ng-container>

</div>







<app-modal-container *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
</app-modal-container>

<app-modal-container *ngIf="showFavorites">
  <app-favorites-list
    (close)="closeFavorites()">
  </app-favorites-list>
</app-modal-container>
